body {
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-size: 17px;
    background-color: #00703c;
}

.main_content {
    margin: 0px;
    padding-bottom: 50px;
}

.trophy_img {
    background-color: white;
    color: #00703c;
    height: auto;
}

.main_image {
    width: 100%;
}

.services_title {
    align-content: center;
}

.service {
    background-color: forestgreen;
    padding: 5px;
    height: 130px;
}