{% extends 'shared/_layout.html' %}
{% block main_content %}
    <div class="container">
        <div class="company_header">
            <h1>Local LawnCare</h1>
            <h3>Personal care to keep your property looking amazing</h3>
        </div>
    </div>


    <div class="trophy_img">
        <img src="/static/house.jpg" alt="yard" class="main_image">
    </div>
    
    <div class="container all_services">
        <div class="row">
            <div class="services_title col-lg-12">
                <h3>These are our services</h3>
            </div>
        </div>
        <div class="row">
            <div class="service col-md-4">
                <h2>Mow lawns</h2>
                <p>Some ipsum dolor stuff</p>
            </div>
            <div class="service col-md-4">
                <h2>Edge walkways</h2>
                <p>Some ipsum dolor stuff</p>
            </div>
            <div class="service col-md-4">
                <h2>Fertilize plants</h2>
                <p>Some ipsum dolor stuff</p></div>
            <div class="service col-md-4">
                <h2>Trim hedges</h2>
                <p>Some ipsum dolor stuff</p>
            </div>
            <div class="service col-md-4">
                <h2>Mow lawns</h2>
                <p>Some ipsum dolor stuff</p>
            </div>
            <div class="service col-md-4">
                <h2>Mow lawns</h2>
                <p>Some ipsum dolor stuff</p>
            </div>
        </div>
    </div>

{% endblock %}